* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 227, 222);
}

header {
    background: rgb(2, 90, 35);
    padding: 10px;
}

header>h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: arial;
}
header>h2 {
    color: rgb(138, 125, 194);
    text-align: center;
    font-family: arial;
}

.score_board {
    margin: 20px auto;
    width: 200px;
    height: 100px;
    color: rgb(7, 0, 224);
    font-size: 50px;
    font-family: arial;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}


#player img {
    width: 100px;
    position: absolute;
    top: 0px;
    left: -500px; 
}
#user_score {
    position: absolute;
    top: 20px;
    left: -400px;
    background: #31b43a;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
#computer img {
    width: 100px;
    position: absolute;
    top: 1px;
    right: -500px;  
}
#computer_score {
    position: absolute;
    top: 20px;
    right: -390px;
    background: #31b43a;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.result {
    font-size: 20px;
    
}

.result>p {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    margin-top: 50px;
    color: blue;
}

.choices_area {
    text-align: center;
    margin: 30px 0;
}

.pick {
    display: inline-block;
    margin: 0 20px;
    background-color: #6dc9e4;
    border-radius: 20%;
    padding: 20px;
    transition: all 0.3s ease;
}

.pick:hover {
    cursor: pointer;
    background: rgb(71, 153, 123);
}

#action_message {
    text-align: center;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

.green_glow {
    border: 4px solid #4dcc7d;
    box_shadow: 0 0 10px #31b43a;
}

.red_glow {
    border: 4px solid #fc121b;
    box_shadow: 0 0 10px #d01115;
}

.gray_glow {
    border: 4px solid #464647;
    box_shadow: 0 0 10px #25292b;
}

.refresh > a {
    width: 500px;
    height: 50px;
    background: #034508;
    color: #fff;
}

.userChoice {
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
    height: 80px;
    position: absolute;
    left: 100px;
    top: 300px;
    background: #c8e714;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompChoice {
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
    height: 80px;
    position: absolute;
    right: 100px;
    top: 300px;
    background: #c8e714;
    display: flex;
    justify-content: center;
    align-items: center;
}



  @media screen and (max-width: 1024px) {
    #player img {        
        left: -300px; 
    }
    #user_score {
        left: -200px;
    }
    #computer img {
        right: -255px;  
    }
    #computer_score {
        right: -145px;
    }
    .userChoice {
        left: 100px;
        top: 260px;
    }
    
    .CompChoice {
        right: 140px;
        top: 260px;
    }
  }

  @media screen and (max-width: 768px) {
    #player img {        
        left: -250px; 
    }
    #user_score {
        left: -150px;
    }
    #computer img {
        right: -255px;  
    }
    #computer_score {
        right: -145px;
    }
    .userChoice {
        left: 100px;
        top: 260px;
    }
    
    .CompChoice {
        right: 140px;
        top: 260px;
    }
  }