* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 227, 222);
}

header {
    background: rgb(2, 90, 35);
    padding: 10px;
}

header>h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: arial;
}
header>h2 {
    color: rgb(138, 125, 194);
    text-align: center;
    font-family: arial;
}

.score_board {
    margin: 20px auto;
    width: 200px;
    height: 100px;
    color: rgb(7, 0, 224);
    font-size: 50px;
    font-family: arial;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}


#player img {
    width: 100px;
    position: absolute;
    top: 0px;
    left: -500px; 
}
#user_score {
    position: absolute;
    top: 20px;
    left: -400px;
    background: #31b43a;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
#computer img {
    width: 100px;
    position: absolute;
    top: 1px;
    right: -500px;  
}
#computer_score {
    position: absolute;
    top: 20px;
    right: -390px;
    background: #31b43a;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.result {
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    width: 320px;
    height: 100px;

}

.result>p {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: blue;
  
}

.choices_area {
    text-align: center;
    margin: 30px 0;
}

.pick {
    display: inline-block;
    margin: 0 20px;
    background-color: #6dc9e4;
    border-radius: 20%;
    padding: 20px;
    transition: all 0.3s ease;
}

.pick:hover {
    cursor: pointer;
    background: rgb(71, 153, 123);
}

#action_message {
    text-align: center;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

.refresh > a {
    width: 500px;
    height: 50px;
    background: #034508;
    color: #fff;
}

.userChoice {
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
    height: 80px;
    position: absolute;
    left: 100px;
    top: 300px;
    background: #c8e714;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompChoice {
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
    height: 80px;
    position: absolute;
    right: 100px;
    top: 300px;
    background: #c8e714;
    display: flex;
    justify-content: center;
    align-items: center;
}

  @media screen and (max-width: 1024px) {
    #player img {        
        left: -280px; 
    }
    #user_score {
        left: -180px;
    }
    #computer img {
        right: -285px;  
    }
    #computer_score {
        right: -185px;
    }
    .userChoice {
        left: 80px;
        top: 250px;
        width: 150px;
        height: 50px;
        padding: 20px 10px;
        text-align: center;
    }
    
    .CompChoice {
        right: 57px;
        top: 250px;
        width: 170px;
        height: 50px;
        padding: 20px 10px;
        text-align: center;
        font-size: 0.8em;
    }
    .result {
        top: 150px;
        left: 355px;
  }
}

  @media screen and (max-width: 768px) {
    #player img {    
        width: 70px;
        top: 40px;    
        left: -250px; 
    }
    #user_score {
        font-size: 30px;
        top: 40px;
        left: -180px;
    }
    #computer img {
        width: 70px;
        top: 40px;   
        right: -265px;  
    }
    #computer_score {
        font-size: 30px;
        top: 40px;
        right: -180px;
    }
    .userChoice {
        left: 20px;
        top: 120px;
        width: 200px;
        height: 30px;
        padding: 20px 10px;
        text-align: center;
    }
    
    .CompChoice {
        right: 20px;
        top: 120px;
        width: 200px;
        height: 30px;
        padding: 20px 10px;
        text-align: center;
        font-size: 0.8em;
    }
    .result {
        top: 150px;
        left: 225px;
  }
  }