* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    background: rgb(2, 90, 35);
    padding: 10px;
}

#imgSet, #imgSet3 {
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 130px;
    width: 500px;
    height: 120px;
    left: 430px;
    visibility: hidden;
    background-color: #fff;
}

#imgSet2, #imgSet4 {
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 130px;
    width: 500px;
    height: 120px;
    left: 430px;
    visibility: hidden;
}

header>h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: arial;
}
header>h2 {
    color: rgb(138, 125, 194);
    text-align: center;
    font-family: arial;
}

.score_board {
    margin: 20px auto;
    width: 200px;
    height: 100px;
    color: rgb(7, 0, 224);
    font-size: 50px;
    font-family: arial;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}


#player img {
    width: 100px;
    position: absolute;
    top: 0px;
    left: -500px; 
}
#user_score {
    position: absolute;
    top: 20px;
    left: -400px;
    background: #31b43a;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
#computer img {
    width: 100px;
    position: absolute;
    top: 1px;
    right: -500px;  
}
#computer_score {
    position: absolute;
    top: 20px;
    right: -390px;
    background: #31b43a;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.result {
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 100px;

}

.result>p {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: blue;
  
}

.choices_area {
    text-align: center;
    margin: 30px 0;
}

.pick {
    display: inline-block;
    margin: 0 20px;
    background-color: #6dc9e4;
    border-radius: 20%;
    padding: 20px;
    transition: all 0.3s ease;
}
.pick img {
    width: 100px;
}

.pick:hover {
    cursor: pointer;
    background: rgb(71, 153, 123);
}

#action_message {
    text-align: center;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

.refresh > a {
    width: 500px;
    height: 50px;
    background: #034508;
    color: #fff;
}

.userChoice {
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
    height: 80px;
    position: absolute;
    left: 100px;
    top: 300px;
    background: #c8e714;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompChoice {
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
    height: 80px;
    position: absolute;
    right: 100px;
    top: 300px;
    background: #c8e714;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
@media screen and (max-width: 1440px) {
    #imgSet, #imgSet3 {

        top: 130px;
        width: 500px;
        height: 120px;
        left: 470px;
    }

    #imgSet2, #imgSet4 {
        top: 130px;
        width: 500px;
        height: 120px;
        left: 470px;
    }
    .result {
        top: 150px;
        left: 455px;
  }
} */


  @media screen and (max-width: 1024px) {
    #imgSet, #imgSet3 {

        top: 130px;
        width: 320px;
        height: 120px;
        left: 350px;
    }

    #imgSet2, #imgSet4 {
        top: 130px;
        width: 320px;
        height: 120px;
        left: 350px;
    }

    #player img {        
        left: -280px; 
    }
    #user_score {
        left: -180px;
    }
    #computer img {
        right: -285px;  
    }
    #computer_score {
        right: -185px;
    }
    .userChoice {
        left: 80px;
        top: 250px;
        width: 150px;
        height: 50px;
        padding: 20px 10px;
        text-align: center;
    }
    
    .CompChoice {
        right: 57px;
        top: 250px;
        width: 170px;
        height: 50px;
        padding: 20px 10px;
        text-align: center;
        font-size: 0.8em;
    }
    .result {
        top: 150px;
        left: 355px;
  }
}

  @media screen and (max-width: 768px) {
    #imgSet, #imgSet3 {

        top: 130px;
        width: 306px;
        height: 120px;
        left: 230px;
    }

    #imgSet2, #imgSet4 {
        top: 130px;
        width: 306px;
        height: 120px;
        left: 230px;
    }

    #player img {    
        width: 70px;
        top: 40px;    
        left: -250px; 
    }
    #user_score {
        font-size: 30px;
        top: 40px;
        left: -180px;
    }
    #computer img {
        width: 70px;
        top: 40px;   
        right: -265px;  
    }
    #computer_score {
        font-size: 30px;
        top: 40px;
        right: -180px;
    }
    .userChoice {
        left: 20px;
        top: 120px;
        width: 200px;
        height: 30px;
        padding: 20px 10px;
        text-align: center;
    }
    
    .CompChoice {
        right: 20px;
        top: 120px;
        width: 200px;
        height: 30px;
        padding: 20px 10px;
        text-align: center;
        font-size: 0.8em;
    }
    .result {
        top: 150px;
        left: 225px;
  }
  }

  @media screen and (max-width: 425px) {
    #imgSet, #imgSet3 {

        top: 135px;
        width: 180px;
        height: 90px;
        left: 119px;
    }

    #imgSet2, #imgSet4 {
        top: 135px;
        width: 180px;
        height: 90px;
        left: 119px;
    }

    #player img {    
        width: 70px;
        top: 40px;    
        left: -105px; 
    }
    #user_score {
        font-size: 30px;
        top: 40px;
        left: -35px;
    }
    #computer img {
        width: 70px;
        top: 40px;   
        right: -90px;  
    }
    #computer_score {
        font-size: 30px;
        top: 40px;
        right: -30px;
    }
    .userChoice {
        left: 20px;
        top: 90px;
        width: 150px;
        height: 20px;
        padding: 20px 10px;
        text-align: center;
        font-size: 18px;
    }
    
    .CompChoice {
        right: 20px;
        top: 90px;
        width: 150px;
        height: 20px;
        padding: 20px 10px;
        text-align: center;
        font-size: 0.6em !important;
    }
    .result {
        font-size: 12px;
        top: 130px;
        left: 50px;
    }

  .pick img {
    width: 40px;
    margin: 0 5px;
    padding: 0;
    }
   #refreshbutton {
    width: 300px;
   } 
   header h1 {
    font-size: 24px;
    padding-top: 5px;
   }
   header h2 {
    font-size: 20px;
   }
   header {
    padding: 5px;
}
}

@media screen and (max-width: 375px) {
    #imgSet, #imgSet3 {

        top: 135px;
        width: 180px;
        height: 90px;
        left: 91px;
    }

    #imgSet2, #imgSet4 {
        top: 135px;
        width: 180px;
        height: 90px;
        left: 91px;
    }
    
    
    #player img {    
        width: 50px;
        top: 60px;    
        left: -80px; 
    }
    #user_score {
        font-size: 20px;
        top: 60px;
        left: -32px;
    }
    #computer img {
        width: 50px;
        top: 60px;   
        right: -70px;  
    }
    #computer_score {
        font-size: 20px;
        top: 60px;
        right: -20px;
    }
    .userChoice {
        left: 20px;
        top: 90px;
        width: 150px;
        height: 20px;
        padding: 20px 10px;
        text-align: center;
        font-size: 18px;
    }
    
    .CompChoice {
        right: 20px;
        top: 90px;
        width: 150px;
        height: 20px;
        padding: 20px 10px;
        text-align: center;
        font-size: 0.6em !important;
    }
    .result {
        font-size: 12px;
        top: 130px;
        left: 23px;
    }

  .pick img {
    width: 40px;
    margin: 0;
    padding: 0;
    }

    .pick {
        width: 70px;
        margin: 3px;
        padding: 5px;
        }
   #refreshbutton {
    width: 300px;
   } 
   header h1 {
    font-size: 20px;
    padding-top: 5px;
   }
   header h2 {
    font-size: 18px;
   }
   header {
    padding: 5px;
    }
}

@media screen and (max-width: 320px) {
    #imgSet, #imgSet3 {

        top: 135px;
        width: 154px;
        height: 80px;
        left: 83px;
    }

    #imgSet2, #imgSet4 {
        top: 135px;
        width: 154px;
        height: 80px;
        left: 83px;
    }

    #player img {    
        width: 30px;
        top: 65px;    
        left: -47px; 
    }
    #user_score {
        font-size: 20px;
        top: 65px;
        left: -12px;
    }
    #computer img {
        width: 30px;
        top: 65px;   
        right: -47px;  
    }
    #computer_score {
        font-size: 20px;
        top: 65px;
        right: -12px;
    }
    .userChoice {
        left: 10px;
        top: 90px;
        width: 140px;
        height: 20px;
        padding: 20px 10px;
        text-align: center;
        font-size: 18px;
        border-radius: 0;
    }
    
    .CompChoice {
        right: 10px;
        top: 90px;
        width: 140px;
        height: 20px;
        padding: 20px 10px;
        text-align: center;
        border-radius: 0;
     
    }
    .result {
        font-size: 10px;
        top: 130px;
        left: 2px;
    }

  .pick img {
    width: 40px;
    margin: 0;
    padding: 0;
    }

    .pick {
        width: 70px;
        margin: 3px;
        padding: 5px;
        }
   #refreshbutton {
    width: 200px;
   } 
   header h1 {
    font-size: 18px;
    padding-top: 5px;
   }
   header h2 {
    font-size: 14px;
   }
   header {
    padding: 5px;
}
}